* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON*/
a {
    text-decoration: none;
}

h4 {
    color: #444;
    font-size: 17px;
}

html {
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

/* NAVIGATION */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: url(../images/vng.jpg) no-repeat center/cover;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 0 80px;
    background-color: #444;
}
nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    display: inline-block;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}
nav ul li:hover a{
    color: #c47631;
}
nav ul li .active{
    color: #ffb97c;
}
nav input {
    padding: 6px;
    border-radius: 4px;
    outline: none;
    border: none;
}

nav button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

nav .icon {
    font-size: 16px;
    color: #ffffff;
    transition: all 1.5s;
}

nav .icon:hover {
    color: #9c4c05;
    cursor: pointer;
}

/* CONTENT */
.margin-section {
    margin: 0 80px;
}

.arrow .icon {
    position: fixed;
    color: #c65615;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
}

section marquee {
    padding: 14px 0;
    color: #444;
    font-size: 17px;
}

section .open {
    position: relative;
}

section .open img {
    height: 400px;
    width: 100%;

}

section .open .text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    z-index: 3;
    transform: translate(-50%, -50%);
}

section .open .bg {
    position: absolute;
    height: 400px;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.484);
    text-align: center;
    z-index: 2;

}

section .content-first {
    margin-top: 30px;
}

section .content-first h3 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 2px solid #c47631;
}

section .content-first-1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: minmax(250px, auto);
    gap: 30px;
}

section .content-first-1 .content-first-1-detail {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section .content-first-1 .content-first-1-detail1 {
    grid-area: 1/1/3/2;
    background-image: url('../images/tdtt.jpg');
    /* tràn ra ngoài thẻ cha thì ẩn đi */
    overflow: hidden;
}

section .content-first-1 .content-first-1-detail2 {
    grid-area: 1/2/2/4;
    background-image: url('../images/tet.jpg');
}

section .content-first-1 .content-first-1-detail3 {
    grid-area: 2/2/3/3;
    background-image: url('../images/anh1.jpg');
}

section .content-first-1 .content-first-1-detail4 {
    grid-area: 2/3/3/4;
    background-image: url('../images/nhiethuyet.jpg');
}

section .content-first-1 .content-first-1-detail .detail {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    color: rgb(208, 208, 208);
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.671);
    transition: all 0.5s linear 0s;
    z-index: 100;
}


section .content-first-1 .content-first-1-detail .detail h4 a {
    display: block;
    font-size: 17px;
    color: #fff;
}

section .content-first-1 .content-first-1-detail .detail1 {
    bottom: unset;
    top: 100%;
}

section .content-first-1 .content-first-1-detail1:hover .detail1 {
    transform: translate(0, -100%);
}

section .content-first-1 .content-first-1-detail .detail2,
section .content-first-1 .content-first-1-detail .detail3,
section .content-first-1 .content-first-1-detail .detail4 {
    opacity: 0;

}

section .content-first-1 .content-first-1-detail2:hover .detail2,
section .content-first-1 .content-first-1-detail3:hover .detail3,
section .content-first-1 .content-first-1-detail4:hover .detail4 {
    opacity: 1;
}

section .content-second {
    margin-top: 30px;
}

section .content-second h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #c47631;
}

section .content-second .content-second-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(320px, auto);
    gap: 30px;
    margin-top: 30px;
}

section .content-second .content-second-detail img {
    width: 100%;
    height: 200px;
}

section .content-second .content-second-detail .content-detail {
    box-shadow: 0 0 5px rgb(175, 175, 175);
    transition: all 0.5s;
}

section .content-second .content-second-detail .content-detail .icon {
    font-size: 25px;
}

section .content-second .content-second-detail .content-detail .second-detail1 {
    padding-left: 15px;
    padding-bottom: 25px;
}

section .content-second .content-second-detail .content-detail .second-detail1 a {
    display: block;
    margin-top: 10px;
    color: royalblue;
}

section .content-second .content-second-detail .content-detail1:hover,
section .content-second .content-second-detail .content-detail2:hover,
section .content-second .content-second-detail .content-detail3:hover,
section .content-second .content-second-detail .content-detail4:hover {
    transform: scale(1.1, 1.1);
}

/* bottom */
section .content-bottom {
    text-align: center;
    display: flex;
    margin: 30px -30px;
}

section .content-bottom .content-bottom1 {
    width: calc(100% / 3);
    margin: 0 30px;
    padding: 10px 30px;
    background-color: #e7e7e7;
}

section .content-bottom .content-bottom1 img {
    width: 100%;
    height: 280px;
}

section .content-bottom .content-bottom1 h4 {
    font-weight: 700;
    font-size: 18px;
}

section .content-bottom .content-bottom1 img,
section .content-bottom .content-bottom1 a,
section .content-bottom .content-bottom1 h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

section .content-bottom .content-bottom1 a {
    color: #4169E1;
    display: inline-block;
    line-height: 25px;
    padding: 20px 40px;
    border: 2px solid black;
}

section .content-bottom .content-bottom1 a:hover {
    border-color: #4169E1;
}

div.image {
    height: 300px;
    background-image: url("../images/thpt.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* footer */
footer {
    background-color: #444;
}

footer>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid #8b4303;
}

footer ul li.w15 {
    width: 15%;
}

footer ul li.w20 {
    width: 18%;
}

footer ul li.w45 {
    width: 25%;
}


footer ul li {
    list-style: none;
}

footer ul li span {
    display: inline-block;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 2px solid #965924;
}

footer ul .space {
    margin-top: 20px;
}

footer ul li img {
    display: block;
    margin: 10px auto;
}

footer ul li a.text {
    color: #fff;
    text-align: center;
}

footer ul li div.social {
    display: flex;
}

footer ul li div.social .logo {
    padding: 7px 10px 7px 0;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

footer ul li div.social .logo:hover {
    color: #daad86;
}

footer ul li a {
    color: #fff;
    padding: 7px 0;
    text-decoration: none;
    display: block;
}

footer ul li a:hover {
    color: #daad86;
}

footer ul li p {
    padding-bottom: 5px;
    color: rgb(163, 146, 127);
    font-size: 13px;
    border-bottom: 1px dotted rgb(163, 146, 127);
}

footer>p {
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}